body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-border: #ffffff34;
  --font-staat: "Staatliches", cursive;
  --font-os: "Oswald", sans-serif;
  --font-ram: "Rambla", sans-serif;
}

/* global classes */
.font-staat {
  font: normal 400 18px var(--font-staat);
}

.font-os {
  font: normal 300 18px var(--font-os);
}

.font-ram {
  font: normal bold 18px var(--font-ram);
}

.font-size-40 {
  font-size: 40px;
}

.font-size-34 {
  font-size: 34px;
}

.font-size-27 {
  font-size: 27px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-16 {
  font-size: 16px;
}

.bgcolor-black {
  background-color: var(--color-black);
}
/* #global classes */

svg.carousel-next,
svg.carousel-previous {
  width: 50px;
  height: auto;
  margin: 0 2rem;
  cursor: pointer;
  overflow: visible;
  position: fixed;
}
svg polygon,
svg path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}
svg.carousel-next:hover polygon,
svg.carousel-previous:hover polygon,
svg.carousel-next:hover path,
svg.carousel-previous:hover path {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
  fill: #ff4136;
}
svg.carousel-next:hover .arrow,
svg.carousel-previous:hover .arrow {
  animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
svg.carousel-next:hover .arrow-fixed,
svg.carousel-previous:hover .arrow-fixed {
  animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}
@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

button.close,
button.button {
  outline: none;
}

.carousel-next {
  top: 45%;
  right: 0;
}

.carousel-previous {
  top: 45%;
  left: 25%;
}

.pointer {
  cursor: pointer;
}

.zoom {
  animation: zoom 15s ease 0s normal both infinite;
  -webkit-animation: zoom 15s ease 0s normal both infinite;
  -moz-animation: zoom 15s ease 0s normal both infinite;
  -ms-animation: zoom 15s ease 0s normal both infinite;
  -o-animation: zoom 15s ease 0s normal both infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.bg-light {
  background-color: #f8f9fa !important;
}

.demo__button {
  color: white !important;
}

.demo__button:hover {
  color: black !important;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 15vw;
  z-index: 9999 !important;
  height: 100vh;
}
.pl {
  width: 6em;
  height: 6em;
  margin-top: -10vh;
}
.pl__ring {
  animation: ringA 2s linear infinite;
}
.pl__ring--a {
  stroke: #f42f25;
}
.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}
.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}
.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background: #17181c;
  }
}
/* Animations */
@keyframes ringA {
  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }
  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }
  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }
  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }
  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }
  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}
@keyframes ringB {
  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }
  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }
  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }
  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }
  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }
  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }
  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}
@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }
  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }
  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }
  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }
  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }
  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }
  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}
@keyframes ringD {
  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }
  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }
  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }
  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }
  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }
  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }
  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: left 0.5s ease;
}

#header nav {
  height: 100vh;
}

#header .site-title .navbar-brand {
  letter-spacing: 4px;
  margin-right: 0 !important;
}

#header .nav-link {
  margin: 0.7rem 1rem;
  border-bottom: 1px solid var(--color-border);
  text-transform: uppercase;
}

#header .nav-link:hover {
  color: var(--color-white) !important;
}

/* site-main */
.site-banner .banner-area {
  background: url(./assets/home-background.jpeg) no-repeat;
  background-size: cover;
  background-position: center 90%;
  width: 100%;
  height: 100vh;
  position: relative;
}

.site-banner .author {
  margin: 0;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-banner .author .author-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  background: url("./assets/banner.jpg") no-repeat;
  background-size: 180%;
  background-position: 22% 0;
}

.skill .bars p,
.site-content .skill .bars span {
  line-height: 10px;
}
/* #site-main */

/* projects */
.timeline {
  margin-top: 4vh;
  margin-left: 12vw;
}

.timeline ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeline ul:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  border: 1px dashed;
}

.timeline ul li {
  position: relative;
}

.timeline ul li > span {
  content: "";
  position: absolute;
  top: 0;
  left: -48px;
  width: 0px;
  height: 100%;
  border: 1px solid #aaa;
}

.timeline ul li > span:before,
.timeline ul li > span:after {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #aaa;
  position: absolute;
  border-radius: 50%;
  left: -8px;
  background: var(--color-black);
}

.timeline ul li span:before {
  top: -5px;
}

.timeline ul li span:after {
  top: 100%;
}

.timeline ul li .time span {
  position: absolute;
  left: -130px;
}

.timeline ul li .time span:first-child {
  left: -130px;
  top: -10px;
}

.timeline ul li .time span:last-child {
  top: 98%;
}

.timeline .title {
  text-transform: uppercase;
}
/* #projects */

/* demo */
.overlay {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay:hover .image {
  opacity: 0.3;
}

.overlay:hover .middle {
  opacity: 1;
}

.modal-dialog {
  transform: none !important;
}

.modal.in .modal-dialog {
  transform: none;
}

.modal-dialog {
  max-width: 1200px;
  margin: 90px auto;
  height: 85vh;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}
/* #demo */

/* footer */
#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
  padding: 1.5rem 1rem;
}
/* #footer */

.button {
  border-color: black;
  font-size: 0.9rem;
  font-family: tahoma;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
}

.button {
  border: 2px solid black;
  color: white;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  background: black;
}

.button:hover {
  background: transparent;
  text-decoration: none;
  color: black;
  font-weight: bold;
  outline: none;
}

/* responsive */
@media screen and (min-width: 768px) {
  .toggle-button {
    display: none;
  }

  #header {
    z-index: 0;
  }
}

@media screen and (max-width: 600px) {
  #home h1 {
    font-size: 34px;
  }

  #home h5 {
    font-size: 22px;
  }
}
/* #responsive */
