/***********************************************************************************************************************/
html,
body {
  background: #e8f4ff;
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: Arial;
  font-size: 12px;
}
table,
table > td {
  border-collapse: collapse;
}
#page-container {
  /*    min-height:100%;
    height:100%;*/
  position: relative;
}
#page-header {
  padding: 0px;
}
#page-body {
  padding: 0px;
  /*    min-height: 100%; /* Fix cho firefox */
  /*    height: auto !important;
    height: 100%;
/*    margin: 0 auto -100px;*/
}
#page-footer {
  bottom: 0;
  width: 100%;
  height: 120px; /* Height of the footer */
}
/***********************************************************************************************************************/
#header {
  width: 100%;
  height: 99px;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  background: url("../images/bg_banner.png") repeat-x center top;
}
#banner {
  position: relative;
  width: 981px;
  height: 99px;
  margin: 0px auto;
  background: url("../images/banner.png") no-repeat center top;
}
#div-control {
  position: absolute;
  top: 2px;
  right: 1px;
  height: 30px;
  padding: 0px;
  margin: 0px;
}
#btn-help {
  position: absolute;
  right: 90px;
  width: 110px;
  height: 30px;
  text-indent: -9999px;
  /* background: url("../images/btn_help.png") no-repeat center top; */
}
#btn-logout {
  position: absolute;
  right: 0px;
  width: 110px;
  height: 30px;
  text-indent: -9999px;
  /* background: url("../images/btn_logout.png") no-repeat center top; */
}
#btn-homepage {
  position: absolute;
  top: 35px;
  right: 15px;
  width: 110px;
  height: 30px;
  text-indent: -9999px;
  /* background: url("../images/btn_homepage.png") no-repeat center top; */
}
#table-main {
  margin: 10px auto 10px auto;
}
#user-login {
  color: #fff;
  position: absolute;
  top: 70px;
  right: 15px;
  height: 30px;
  font-weight: bold;
}
#login-sv,
#login-sv {
  margin: 0px 0px 20px 0px;
}
#login-sv .bg-module-top {
  width: 100%;
  height: 64px;
  /* background: url("../images/bg_module_top_sv.png") no-repeat center top; */
}
#login-cb .bg-module-top {
  width: 100%;
  height: 64px;
  /* background: url("../images/bg_module_top_cb.png") no-repeat center top; */
}
#login-sv .bg-module-middle,
#login-cb .bg-module-middle {
  /* background: url("../images/bg_module_middle.png") repeat-y center top; */
}
#login-sv .bg-module-bottom,
#login-cb .bg-module-bottom {
  width: 100%;
  height: 22px;
  /* background: url("../images/bg_module_bottom.png") repeat-y center bottom; */
}
.username,
.password {
  width: 290px;
  height: 30px;
  margin: 5px auto;
  padding: 5px 5px 5px 50px;
  border: solid 1px #ccc;
  border-radius: 5px 5px 5px 5px;
  font-size: 14px;
  font-weight: bold;
}
.username {
  /* background: url("../images/bg_input_username.png") no-repeat 10px center; */
}
.password {
  /* background: url("../images/bg_input_password.png") no-repeat 10px center; */
}
.btn-login {
  width: 140px;
  height: 35px;
  border: none;
  cursor: pointer;
  /* background: url("../images/btn_login.png") no-repeat center center; */
}
.btn-login:active {
  transform: scale(0.9);
}
#module-thongbao {
  padding: 30px 0px 0px 0px;
  border: solid 1px #ccc;
  border-radius: 5px 5px 5px 5px;
  /* background: url("../images/bg_module_thongbao.png") #fff no-repeat center top; */
}
.thongbao {
  margin: 0px;
  padding: 20px;
  text-align: justify;
  list-style: none;
}
.thongbao a:link {
  color: #353535;
  text-decoration: none;
}
.thongbao a:hover {
  color: #565656;
  text-decoration: underline;
}
.thongbao li {
  margin: 5px 5px;
  padding: 5px 0px;
  /* background: url("../images/bg_dotted.png") repeat-x center bottom; */
}
#footer {
  min-width: 980px;
  padding: 10px 0px;
  margin: 0px auto;
}
#footer p {
  text-align: center;
  margin: 0px;
  padding: 4px 0px 4px 0px;
}
#footer p.top {
  padding: 10px 0px 4px 0px;
  /* background: url("../images/bg_dotted.png") repeat-x center top; */
}
#footer p.bottom {
  padding: 4px 0px 5px 0px;
  /* background: url("../images/bg_dotted.png") repeat-x center bottom; */
}
/***********************************************************************************************************************/
.row {
  margin: 0 auto;
  overflow: hidden;
}
.col {
  float: left !important;
  margin: 2px 0px !important;
  padding: 2px !important;
  line-height: 18px;
}
.grid_01 {
  width: 10px !important;
}
.grid_02 {
  width: 20px !important;
}
.grid_03 {
  width: 30px !important;
}
.grid_04 {
  width: 40px !important;
}
.grid_05 {
  width: 50px !important;
}
.grid_06 {
  width: 60px !important;
}
.grid_07 {
  width: 70px !important;
}
.grid_08 {
  width: 80px !important;
}
.grid_09 {
  width: 90px !important;
}
.grid_10 {
  width: 100px !important;
}
.grid_11 {
  width: 110px !important;
}
.grid_12 {
  width: 120px !important;
}
.grid_13 {
  width: 130px !important;
}
.grid_14 {
  width: 140px !important;
}
.grid_15 {
  width: 150px !important;
}
.grid_16 {
  width: 160px !important;
}
.grid_17 {
  width: 170px !important;
}
.grid_18 {
  width: 180px !important;
}
.grid_19 {
  width: 190px !important;
}
.grid_20 {
  width: 200px !important;
}
.grid_21 {
  width: 210px !important;
}
.grid_22 {
  width: 220px !important;
}
.grid_23 {
  width: 230px !important;
}
.grid_24 {
  width: 240px !important;
}
.grid_25 {
  width: 250px !important;
}
.grid_26 {
  width: 260px !important;
}
.grid_27 {
  width: 270px !important;
}
.grid_28 {
  width: 280px !important;
}
.grid_29 {
  width: 290px !important;
}
.grid_30 {
  width: 320px !important;
}
.grid_31 {
  width: 310px !important;
}
.grid_32 {
  width: 320px !important;
}
.grid_33 {
  width: 330px !important;
}
.grid_34 {
  width: 340px !important;
}
.grid_35 {
  width: 350px !important;
}
.grid_36 {
  width: 360px !important;
}
.grid_37 {
  width: 370px !important;
}
.grid_38 {
  width: 380px !important;
}
.grid_39 {
  width: 390px !important;
}
.grid_40 {
  width: 400px !important;
}
.grid_41 {
  width: 410px !important;
}
.grid_42 {
  width: 420px !important;
}
.grid_43 {
  width: 430px !important;
}
.grid_44 {
  width: 440px !important;
}
.grid_45 {
  width: 450px !important;
}
.grid_46 {
  width: 460px !important;
}
.grid_47 {
  width: 470px !important;
}
.grid_48 {
  width: 480px !important;
}
.grid_49 {
  width: 490px !important;
}
.grid_50 {
  width: 500px !important;
}
.grid_51 {
  width: 510px !important;
}
.grid_52 {
  width: 520px !important;
}
.grid_53 {
  width: 530px !important;
}
.grid_54 {
  width: 540px !important;
}
.grid_55 {
  width: 550px !important;
}
.grid_56 {
  width: 560px !important;
}
.grid_57 {
  width: 570px !important;
}
.grid_58 {
  width: 580px !important;
}
.grid_59 {
  width: 590px !important;
}
.grid_60 {
  width: 600px !important;
}
.grid_61 {
  width: 610px !important;
}
.grid_62 {
  width: 620px !important;
}
.grid_63 {
  width: 630px !important;
}
.grid_64 {
  width: 640px !important;
}
.grid_65 {
  width: 650px !important;
}
.grid_66 {
  width: 660px !important;
}
.grid_67 {
  width: 670px !important;
}
.grid_68 {
  width: 680px !important;
}
.grid_69 {
  width: 690px !important;
}
.grid_70 {
  width: 700px !important;
}
.grid_71 {
  width: 710px !important;
}
.grid_72 {
  width: 720px !important;
}
.grid_73 {
  width: 730px !important;
}
.grid_74 {
  width: 740px !important;
}
.grid_75 {
  width: 750px !important;
}
.grid_76 {
  width: 760px !important;
}
.grid_77 {
  width: 770px !important;
}
.grid_78 {
  width: 780px !important;
}
.grid_79 {
  width: 790px !important;
}
.grid_80 {
  width: 800px !important;
}
.grid_81 {
  width: 810px !important;
}
.grid_82 {
  width: 820px !important;
}
.grid_83 {
  width: 830px !important;
}
.grid_84 {
  width: 840px !important;
}
.grid_85 {
  width: 850px !important;
}
.grid_86 {
  width: 860px !important;
}
.grid_87 {
  width: 870px !important;
}
.grid_88 {
  width: 880px !important;
}
.grid_89 {
  width: 890px !important;
}
.grid_90 {
  width: 900px !important;
}
.grid_91 {
  width: 910px !important;
}
.grid_92 {
  width: 920px !important;
}
.grid_93 {
  width: 930px !important;
}
.grid_94 {
  width: 940px !important;
}
.grid_95 {
  width: 950px !important;
}
.grid_96 {
  width: 960px !important;
}
.grid_97 {
  width: 970px !important;
}
.grid_98 {
  width: 980px !important;
}
.grid_99 {
  width: 990px !important;
}
.grid_100 {
  width: 1000px !important;
}
.lr_auto {
  width: 98%;
  margin: 2px auto !important;
}
.div-center {
  margin: 2px auto !important;
}
.center {
  text-align: center !important;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.color-white {
  color: white !important;
}
.clear {
  clear: left !important;
}
/***********************************************************************************************************************/
#loader_container {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background: #000;
  z-index: 1000;
  opacity: 0.7;
  filter: alpha("opacity = 70");
  -moz-opacity: 0.7;
}
#loader {
  position: absolute;
  color: #000000;
  top: 40%;
  left: 50%;
  margin-left: -170px;
  margin-top: -30px;
  display: block;
  font-family: Tahoma, Helvetica, sans;
  font-size: 11px;
  padding: 10px 0 16px;
  text-align: left;
  width: 140px;
  border: 1px solid #6a6a6a;
  background-color: #ffffff;
  opacity: 1;
  filter: alpha("opacity = 100");
  -moz-opacity: 1;
  z-index: 999;
}
#progress {
  background-color: #9d9d94;
  font-size: 1px;
  height: 5px;
  left: 0;
  position: relative;
  top: 1px;
  width: 1px;
}
#loader_bg {
  background-color: #ebebe4;
  font-size: 1px;
  height: 7px;
  left: 8px;
  position: relative;
  top: 8px;
  width: 90%;
}
/***********************************************************************************************************************/
.textbold,
.bold {
  padding: 2px 0px;
  font-weight: bold;
  font-size: 10pt;
  color: #0e4a92;
  font-family: Arial;
}
.radius-01 {
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  margin: 5px auto 0px auto !important;
  padding: 5px !important;
}
.radius-02 {
  border: 2px solid #ccc !important;
  border-radius: 5px !important;
  margin: 5px auto 0px auto !important;
  padding: 5px !important;
}
.box-shadow {
  width: 960px;
  margin: 0px auto;
  height: 15px;
}
.box-shadow-50 {
  width: 500px;
  margin: 0px auto;
  height: 15px;
}
.bordersv {
  border-top: 1px dashed #cccccc;
  font-size: 10pt;
  line-height: 22px;
}
.bordersv.bg {
  background-color: #f0f0f0;
  padding-right: 10px;
}
.bordersv.bold {
  font-weight: bold;
  padding-left: 10px;
}
/***********************************************************************************************************************/
.level_1_2 {
  background-color: #f7f7f7;
  font-family: Arial;
  font-size: 10pt;
  height: 23px;
  margin: 0;
  padding: 0 2px;
  text-indent: 0;
  word-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 4px 5px;
  margin: 0px;
}
.bg-header-01 {
  background: url("../images/bg_header_01.png") repeat-x top center;
}
.txtbox {
  border: 1px solid #808080;
  color: #003366;
  font-size: 12px;
  padding: 1px 4px;
}
.button_1 {
  background-color: #3872b2;
  border: 1px solid #80b5d7;
  color: #ffffff;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  height: 22px;
}
.main_1 {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  height: 23px;
  padding: 0;
  background: url("../images/bg_header_01.png") repeat-x center top;
}
.main_1_left {
  background: url("../images/bg_header_left.png") no-repeat left top;
  width: 10px !important;
}
.main_1_right {
  background: url("../images/bg_header_right.png") no-repeat right top;
  width: 10px !important;
}
.main_3 {
  background-color: #dae9f3;
  border: 1px solid #80b5d7;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  padding: 2px 0;
}
td .level_1_1,
td .level_1_2 {
  font-size: 13px;
  height: 23px;
  margin: 0;
  padding: 0 2px;
  text-indent: 0;
  word-spacing: 0;
  border: 1px solid #ebebe4;
}
.level_1_1 {
  background-color: #f7f7f7;
}
.level_1_2 {
  background-color: #edf4f9;
}
.border_1 {
  font-size: 13px;
  padding: 1px 0;
}
a:link,
a:hover,
a:visited {
  color: #008000;
  text-decoration: none;
}
.main_3_b {
  background-color: #dae9f3;
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
  padding: 2px 0;
}
.mmenu {
  /*
    display: none;
}
#menu0 {
    display: block;*/
}
.on {
  display: ;
}
.off {
  display: none;
}

.disabled_cell {
  border-right: #e5e5e5 1px solid;
  padding-right: 1px;
  border-top: #e5e5e5 1px solid;
  padding-left: 1px;
  font-size: 10pt;
  padding-bottom: 0px;
  margin: 0px;
  word-spacing: 0px;
  text-indent: 0px;
  padding-top: 0px;
  border-bottom: #e5e5e5 1px solid;
  font-family: Arial;
  background-color: #bbbbbb;
  height: 23px;
}
.selected_cell {
  border-right: #e5e5e5 1px solid;
  padding-right: 1px;
  border-top: #e5e5e5 1px solid;
  padding-left: 1px;
  font-size: 10pt;
  padding-bottom: 0px;
  margin: 0px;
  word-spacing: 0px;
  text-indent: 0px;
  padding-top: 0px;
  border-bottom: #e5e5e5 1px solid;
  font-family: Arial;
  background-color: #bbbbff;
  height: 23px;
}
.mask_bg {
  /* background: url("../../images/tkb_loading_bg.png") repeat; */
  width: 754px;
  height: 475px;
  z-index: -1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
}
.mask_text {
  width: 754px;
  z-index: 0;
}
.tkb_title01 {
  padding-right: 0px;
  padding-left: 0px;
  font-weight: bold;
  font-size: 10pt;
  background: url("../images/bg_header_01.png") repeat-x center top;
  padding-bottom: 0px;
  color: #ffffff;
  padding-top: 0px;
  font-family: Arial;
  height: 25px;
}
.tkb_level_1_1 {
  border-right: #e5e5e5 1px solid;
  padding-right: 2px;
  border-top: #ffffff 1px solid;
  padding-left: 2px;
  font-size: 10pt;
  padding-bottom: 0px;
  margin: 0px;
  word-spacing: 0px;
  text-indent: 0px;
  padding-top: 0px;
  background-color: #ffffff;
  border-bottom: #e5e5e5 1px solid;
  font-family: Arial;
  height: 23px;
}
.available_cell {
  border-right: #e5e5e5 1px solid;
  padding-right: 1px;
  border-top: #e5e5e5 1px solid;
  padding-left: 1px;
  font-size: 10pt;
  padding-bottom: 0px;
  margin: 0px;
  word-spacing: 0px;
  text-indent: 0px;
  padding-top: 0px;
  border-bottom: #e5e5e5 1px solid;
  font-family: Arial;
  background-color: #00ff55;
  height: 23px;
}
.btInv {
  /* background: url("../../images/tkb_inv.png"); */
  width: 16px;
  height: 16px;
  border: 0px;
  margin: 0px;
}
.btInv:hover {
  /* background: url("../../images/tkb_inv_m.png"); */
  width: 16px;
  height: 16px;
  border: 0px;
  margin: 0px;
}
.item_cell {
  border-right: #e5e5e5 1px solid;
  padding: 2px;
  border-top: #e5e5e5 1px solid;
  font-size: 10pt;
  margin: 0px;
  word-spacing: 0px;
  text-indent: 0px;
  border-bottom: #e5e5e5 1px solid;
  font-family: Arial;
  background-color: #aaffaa;
}
.item_selected_cell {
  border-right: #e5e5e5 1px solid;
  padding: 2px;
  border-top: #e5e5e5 1px solid;
  font-size: 10pt;
  margin: 0px;
  word-spacing: 0px;
  text-indent: 0px;
  border-bottom: #e5e5e5 1px solid;
  font-family: Arial;
  background-color: #ffaaaa;
}

.btInfo {
  /* background: url("../../images/tkb_info.png"); */
  width: 16px;
  height: 16px;
  border: 0px;
  margin: 0px;
}
.btInfo:hover {
  /* background: url("../../images/tkb_info_m.png"); */
  width: 16px;
  height: 16px;
  border: 0px;
  margin: 0px;
}

.btSwap {
  /* background: url("../../images/tkb_swap.png"); */
  width: 16px;
  height: 16px;
  border: 0px;
  margin: 0px;
}
.btSwap:hover {
  /* background: url("../../images/tkb_swap_m.png"); */
  width: 16px;
  height: 16px;
  border: 0px;
  margin: 0px;
}

.btDel {
  /* background: url("../../images/tkb_del.png"); */
  width: 16px;
  height: 16px;
  border: 0px;
  margin: 0px;
}
.btDel:hover {
  /* background: url("../../images/tkb_del_m.png"); */
  width: 16px;
  height: 16px;
  border: 0px;
  margin: 0px;
}
/***********************************************************************************************************************/
#divXetSV {
  left: 50% !important;
  margin-left: -450px !important;
  width: 900px !important;
}
#dChecking,
#Mask {
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
}
.mask_bg {
  width: 100% !important;
  height: 100% !important;
}
#dAD,
#dADSua #dTCPH,
#dKH,
#hdTask,
#divSua,
#divThem,
#divChuyenDotXet {
  width: 500px !important;
  left: 50% !important;
  margin-left: -250px !important;
}
